{% import "footerMenus.twig" as footerMenu %}

<div class="flex flex-col">
	{{footerMenu.makeFooter(footerMenuLeft,'contact')}}
	<div class="flex items-center justify-center">
		<div class="text-white">
			&#169; FTLOG
			{{ "now"|date('Y') }}
		</div>
	</div>
</div>
